.react-calendar-heatmap {
    width: 70%;
    margin: 0 auto;
  }  
  
  .react-calendar-heatmap text {
    font-size: 4px;
    fill: #CBD5E0;
  }

  .react-calendar-heatmap rect {
    width: 11px;
    height: 11px;
    rx: 2;
    ry: 2;
    stroke: none;
    shape-rendering: geometricPrecision;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-week {
    margin: 0;
  }
  
  
